*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.m-editor{
  position: relative;
  border-radius: 8px;
  border: 1px solid #eee;
}
.editor-top{
  display: flex;
  align-items: center;
  width: 100%;
  height: 41px;
  padding: 0 15px;
  border-bottom: 1px solid #eee;
}
.editor-body{
  padding: 6px;
  overflow-y: auto;
  outline: none;
  cursor: text;
  width: 100%;
  height: calc(100% - 50px);
}
.editor-body blockquote{
  display: block;
  border-left: 8px solid #d0e5f2;
  padding: 5px 10px;
  margin: 10px 0;
  background: #f1f1f1;
  font-size: 100%;
}

.editor-body code{
  padding: 2px 5px;
  background: #d4d2d2;
  border-radius: 5px;
  font-size: 100%;
}


.editor-body pre {
  padding: 3px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 100%;
}

.editor-body pre code{
  display: block;
  padding: 2px;
  background: none;
  border-radius: 0;
  font-size: 100%;
}

.emoji{
  width: 15px;height: 15px;margin: 0px 3px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    /* background-color: #ebeef3; */
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 32px;
    background-color: rgba(0,0,0,0.18);
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 32px;
    background-color: rgba(0,0,0,0.18);
    -webkit-border-radius: 4px;
}