<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <span id="content">1324567982</span>
</body>
<script type="text/javascript">
  window.onload = function () {
    var dom = document.querySelector('#content')
    var nodeText = dom.childNodes.item(0)
    dom.setAttribute('contenteditable', true)
    var Sel = window.getSelection()
    Sel.selectAllChildren(nodeText)
    var range = Sel.getRangeAt(0)
    var clonedRange = range.cloneRange()
    var index = dom.innerHTML.indexOf('2')
    clonedRange.setStart(Sel.anchorNode, index)
    clonedRange.setEnd(Sel.focusNode, index + 1)
    Sel.removeAllRanges()
    Sel.addRange(clonedRange)
    document.execCommand('foreColor', false, 'red')
    Sel.removeAllRanges()
    dom.setAttribute('contenteditable', false)
  }
</script>

</html>