.m-emoji-body{
  position: absolute;
  top: -151px;
  left: 0;
  width: 400px;
  height: 150px;
  overflow-y: auto;
  background: #fff;
}
.u-emoji-icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.u-emoji-icon img{
  width: 20px;
  height: 20px;
}