.clickMenu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 90px;
    padding: 6px 0;
    background: #fff;
    box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, .1);
    border-radius: 6px;

}

.clickMenu-container .menu-item {
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
    transition: all .2s;
}

.clickMenu-container .menu-item:hover {
    background: rgba(230, 247, 255, 1);
}